#parent {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
#child1 {
  width: 25%;
}
#child2 {
  width: 50%;

}
#child3 {
  width: 15%;
}
